# Copyright (c) 2017-2018,2020 The Linux Foundation. All rights reserved.
# Copyright (c) 2014-2022 The Team Win LLC.
#

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1
    setprop crypto.ready 1
    vendor.qti.vibrator

    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    install_keyring

on early-fs
    start vold

service qseecomd /vendor/bin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

# keystore is started and stopped on demand by TWRP
service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    class hal
    user system
    group system input
    seclabel u:r:recovery:s0

on property:crypto.ready=0
    stop qseecomd
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager

on property:crypto.ready=1
    start qseecomd

on property:vendor.sys.listeners.registered=true
    start keymaster-4-0
    start gatekeeper-1-0

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    write /sys/class/udc/${ro.boot.usbcontroller}/device/../mode peripheral
